nav{
    z-index:9;
}
header{
    z-index: 1;
}
.card{
    margin: 10px;
}
#foto-de-perfil{
    min-width: 150px;
    width: 25%; 
    margin: -10% 0 5px 15px;
}
#listas{
    list-style-type: none;
}
#boton-agregar{
    text-align: right; 
    margin: 5px;
}
#editar-o-eliminar{
    text-align: right;
}
.nav-item{
    margin: 7px;
}
.icon{
    color:black
}
ul{
    list-style: none;
}
li{
    list-style: none;
}